body {
    color: aliceblue;
    background: #333333;
}

#boardtable > div {
    margin-bottom: 10px;
}

#boardtable > div > h4 {
    margin-top: 10px;
}

#boardtable > div {
    border: 3px solid #2e2e2e;
    border-radius: 16px;
    background: #414141;
}

#boardtable > div > button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#lobbytable {
    /* background: #202020; */
}

#lobbytable > li {
    margin-top: 2px;
    margin-bottom: 2px;
}

.list-group-item {
    text-shadow: none;
}

.list-group-item-default {
    border: 2px solid #505050;
    color: #505050;
}

.list-group-item-success {
    border: 2px solid #515724;
}

.list-group-item-empty {
    color: #454545;
    background: #313131;
    border: 2px dashed #101010;
}

.board-settings {
    padding: 10px;
    background: #313131;
    border-radius: 10px;
}

.square {
    width: 96px;
    height: 96px;
    background: #505050;
    margin: 8px;
    text-align: center;
    font-size: 20px;
}

.wormhole {
    background: black !important;
    border-radius: 50%;
}

.square-content {
    margin-top: 33px;
}

.style-none {
    list-style: none;
}

.player-container {
    position: absolute;
    width: 96px;
    height: 96px;
}

.player {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.player-1 {
    background: red;
}

.player-2 {
    background: green;
}

.player-3 {
    background: blue;
}

.player-4 {
    background: yellow;
}

.player-text-1 {
    color: red;
}

.player-text-2 {
    color: green;
}

.player-text-3 {
    color: blue;
}

.player-text-4 {
    color: yellow;
}