body {
    color: aliceblue;
    background: #333333;
}

.animate-opacity {
    animation: 10s animateopacity;
}

.animate-top-slowly {
    position: relative;
    animation: animatetop 1.5s;
}

.animate-top {
    position: relative;
    animation: animatetop 0.4s;
}

@keyframes animateopacity {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

#progressbar {
    -o-transition: width 1s;
    -moz-transition: width 1s;
    -webkit-transition: width 1s;
    transition: width 1s;

    -o-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

#lobbytable > div {
    margin-bottom: 10px;
}

#lobbytable > div > h4 {
    margin-top: 10px;
}

#lobbytable > div {
    border: 3px solid #2e2e2e;
    border-radius: 16px;
    background: #414141;
}

#lobbytable > div > button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#lobbytable > li {
    margin-top: 2px;
    margin-bottom: 2px;
}

.list-group-item {
    text-shadow: none;
}

.list-group-item-default {
    border: 2px solid #505050;
    color: #505050;
}

.list-group-item-success {
    border: 2px solid #515724;
}

.list-group-item-empty {
    color: #454545;
    background: #313131;
    border: 2px dashed #101010;
}

.board-settings {
    padding: 10px;
    background: #313131;
    border-radius: 10px;
}

.square {
    width: 96px;
    height: 96px;
    background: #505050;
    margin: 8px;
    text-align: center;
    font-size: 20px;
}

.wormhole {
    background: black !important;
    border-radius: 50%;
}

.square-content {
    margin-top: 33px;
}

.style-none {
    list-style: none;
}

.player-container {
    position: absolute;
    width: 96px;
    height: 96px;
}

.player {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.player-1 {
    background: red;
}

.player-2 {
    background: green;
}

.player-3 {
    background: blue;
}

.player-4 {
    background: yellow;
}

.player-text-1 {
    color: red;
}

.player-text-2 {
    color: green;
}

.player-text-3 {
    color: blue;
}

.player-text-4 {
    color: yellow;
}